{% extends "layouts/baseA.html" %}

{% block title %} Member's Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}    
	<div class="p-5">	
						
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
					<h3 class="display-4">Database</h3>
					<hr>
					<br><br>
								  
                    <div class="row">
						<div class="col align-center flex-col sign-up">
							<div class="form-wrapper align-center">
							
								<table class=" table table-dark"  BORDER="1" width="100%">
									<tr>
									<th  >House Name</th>
									<th >Rent</th>
									<th  >Address</th>
									<th >Facility Available</th>
									<th >PG Type</th>
									<th >Rooms</th>
									<th >Near by Facilities</th>
									<th >Image</th>
									<th> Action </th>
									
									</tr>
									{% for props in prop %}
									<tr class="table-info">
										<td>
											{{props.house_name}}
										</td>
										<td>{{props.rent}} </td>
										<td>{{props.address}} </td>
										<td>{{props.facility}} </td>
										<td>{{props.pg_type}} </td>
										<td>{{props.no_of_rooms}} </td>
										<td>{{props.near_by_facilities}} </td>
										<td>
											{%if props.image %}
												<a href="{% url 'showProperty' prop_id=props.id %}"><img class="" style="width:50px;" src="/static/assets/images/user/{{props.image}}"></a>
											{% else %}
												<a href="{% url 'showProperty' prop_id=props.id %}"><img class="" style="width:50px;" src="/static/assets/images/user/default.jpg" alt=""></a>
											{% endif %}
										</td>
										<td> <a href="{% url 'showProperty' prop_id=props.id %}"> <button class="btn btn-warning">Open</button> </a>  </td>
									</tr>
									{% endfor %}                           
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
