{% extends "layouts/baseM.html" %}

{% block title %} Member's Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}    
	<div class="p-5">
		<h3>Search Property</h3>
						
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
					<form method="POST" enctype="multipart/form-data" class="form sign-up">
						<table border="0">
						<tr>
						<td><strong>Search By Options:</strong></td>
						</tr>
						<tr class="mb-4">
							<td class="mb-4">
								<div class="input-group row">
									<div class="col-md-5">
										<i class="bx bxs-user row"></i>
										<label for="" class="form-label mr-4">House Name:</label>  
									</div>
									<div class="col-md-7">
										<input  class="form-control" name="house_name" type="text"/>
									</div> 
											
								</div>
							</td>
							<td>
								<button name="searchHNameM" class="btn btn-primary" value="searchHNameM">Search</button>
							</td>
						</tr>
						
						<tr>
						
							<td>
							
								<div class="input-group row">
									<div class="col-md-5">
										<i class="bx bxs-user"></i>
										<label for="" class="form-label mr-5">Rent:</label>  
									</div>
									<div class="col-md-7">
										<input class="form-control" name="rent" type="text"/>
									</div>
								</div>
							</td>
							<td>
								<button class="btn btn-info" name="searchRentM" value="searchRentM">Search</button>
							</td>
						</tr>
						
						<tr>
							<td>
								<div class="input-group row">
									<div class="col-md-5">
										<i class="bx bxs-user"></i>
										<label for="" class="form-label mr-5">Location :</label>  
									</div>
									<div class="col-md-7">
										<input class="form-control" name="locaion" type="text"/>
									</div>																	
								</div>
							</td>
							<td>
								<button class="btn btn-warning" name="searchLocationM" value="searchLocationM">Search</button>
							</td>
						</tr>
						
						</table>

					</form>
					<hr>
					<br><br>
								  
                    <div class="row">
						<div class="col align-center flex-col sign-up">
							<div class="form-wrapper align-center">
							
								<table class=" table table-dark"  BORDER="1" width="100%">
									<tr>
									<th  >House Name</th>
									<th >Rent</th>
									<th  >Address</th>
									<th >Facility Available</th>
									<th >PG Type</th>
									<th >Rooms</th>
									<th >Near by Facilities</th>
									<th >Image</th>
									<th> Action </th>
									
									</tr>
									{% for props in prop %}
									<tr class="table-info">
										<td>
											{{props.house_name}}
										</td>
										<td>{{props.rent}} </td>
										<td>{{props.address}} </td>
										<td>{{props.facility}} </td>
										<td>{{props.pg_type}} </td>
										<td>{{props.no_of_rooms}} </td>
										<td>{{props.near_by_facilities}} </td>
										<td>
											{%if props.image %}
												<a href="{% url 'showProperty' prop_id=props.id %}"><img class="" style="width:50px;" src="/static/assets/images/user/{{props.image}}"></a>
											{% else %}
												<a href="{% url 'showProperty' prop_id=props.id %}"><img class="" style="width:50px;" src="/static/assets/images/user/default.jpg" alt=""></a>
											{% endif %}
										</td>
										<td> <a href="{% url 'showProperty' prop_id=props.id %}"> <button class="btn btn-warning">Open</button> </a>  </td>
									</tr>
									{% endfor %}                           
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
